.btn {
  background-color: black;
  /* color: white; */
  /* font-size: 32px;
  font-weight: 500; */
  padding: 10px;
  border: none;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-x {
  background-image:url(./assets/cross.png);
  
}
.btn-o {
  background-image:url(./assets/zero.png);
}